<!DOCTYPE html>
<html lang="en">
<head>
 <% include partials/head %> 
</head>
<body>
<% include partials/menu %>

<div class="container-fluid bg-3 text-center">    
  <h3><%= page %></h3><br>
</div>
<div id="lwcApp"></div>
<script src="https://vsdemo.force.com/customerportaldemo/lightning/lightning.out.js"></script>
<script>
  $Lightning.use("runtime_appointmentbooking:lightningOutGuest",
      function() {                  // Callback once framework and app load
          $Lightning.createComponent(
              "lightning:flow",    // top-level component of your app
             { },    // attributes to set on the component when created
              "lwcApp",    // the DOM location to insert the component
              function(component) {            // API name of the Flow
                  component.startFlow("Inbound_Cancel_Appointment_copy");
             }
          );
      },    'https://vsdemo.force.com/customerportaldemo'  // Community endpoint
  );

</script>

<!-- aura component as lightning out -->
<!-- <script src="https://vsdemo.force.com/customerportaldemo/lightning/lightning.out.js"></script>
<script>
     $Lightning.use("c:LightningOutDemo", function() {
        $Lightning.createComponent("c:appointmentFlow", {
            },
              "lwcApp",
              function(cmp) {
                console.log("LWC component was created");
              
                
              }
          );
        },
       'https://vsdemo.force.com/customerportaldemo'
      );
</script> -->
</body>
<% include partials/script %>
</html>