<!DOCTYPE html>
<html lang="en">
<head>
 <% include partials/head %> 
</head>
<body>
<% include partials/menu %>

<div class="container-fluid bg-3 text-center">    
  <h3><%= page %></h3><br>
  <div class="row">
    <div class="col-sm-4">
      <p>A website to test lightning out</p>
      
    </div>
    <div class="col-sm-4"> 
      <p>A website to test lightning out</p>
    </div>
    <div class="col-sm-4"> 
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
  </div>
</div>
<div id="lwcApp">test</div>
<script src="https://sksiscool-dev-ed.lightning.force.com/lightning/lightning.out.js"></script>
<script>
     $Lightning.use("c:LightningOutDemo", function() {
        $Lightning.createComponent("c:limits", {
            },
              "lwcApp",
              function(cmp) {
                console.log("LWC component was created");
                console.log("cmp is"+cmp);
                // do some stuff
              }
          );
        },
       'https://sksiscool-dev-ed.lightning.force.com/'
      );
</script>


</body>
<% include partials/script %>
</html>