<!DOCTYPE html>
<html lang="en">
<head>
 <% include partials/head %> 
</head>
<body>
<% include partials/menu %>

<div class="container-fluid bg-3 text-center">    
  <h3><%= page %></h3><br>
  <div class="row">
    <div class="col-sm-4">
      <p>A website to test lightning out</p>
      
    </div>
    <div class="col-sm-4"> 
      <p>A website to test lightning out</p>
    </div>
    <div class="col-sm-4"> 
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
  </div>
</div>
<div id="lwcApp">test</div>
<!-- <script src="https://sksiscool-dev-ed.lightning.force.com/lightning/lightning.out.js"></script>
<script>
     $Lightning.use("c:LightningOutDemo", function() {
        $Lightning.createComponent("c:stopwatch", {
            },
              "lwcApp",
              function(cmp) {
                console.log("LWC component was created");
                console.log("cmp is"+cmp);
                
              }
          );
        },
       'https://sks4321-developer-edition.ap8.force.com'
      );
</script> -->


<script src="https://vsdemo.force.com/customerportaldemo/lightning/lightning.out.js"></script>
<!-- <script>
     $Lightning.use("c:LightningOutDemo", function() {
        $Lightning.createComponent("c:appointmentFlow", {
            },
              "lwcApp",
              function(cmp) {
                console.log("LWC component was created");
              
                
              }
          );
        },
       'https://vsdemo.force.com/customerportaldemo'
      );
</script> -->


<script>
  $Lightning.use("inbound_new_guest_appointment",
      function() {                  // Callback once framework and app load
          $Lightning.createComponent(
              "lightning:flow",    // top-level component of your app
              { },    // attributes to set on the component when created
              "lwcApp",    // the DOM location to insert the component
              function(component) {            // API name of the Flow
                  component.startFlow("inbound_new_guest_appointment");
              }
          );
      },    'https://vsdemo.force.com/customerportaldemo/'  // Community endpoint
  );
</script>


</body>
<% include partials/script %>
</html>