.bg-3 { 
      background-color: #ffffff;
      color: #555555;
  }
  .container-fluid {
      padding-top: 70px;
      padding-bottom: 70px;
  }
  .navbar {
      padding-top: 15px;
      padding-bottom: 15px;
      border: 0;
      border-radius: 0;
      margin-bottom: 0;
      font-size: 12px;
      letter-spacing: 5px;
  }
  .navbar-nav  li a:hover {
      color: #1abc9c !important;
  }

  .active>a {
    color: #1abc9c !important;;
  }

  #auraErrorMessage {
    display: none !important;
  }
  html {
    background-color: white !important;
  }

  /* .slds-scope .slds-card__footer{
    margin-right: 54rem !important; 
    }

    .slds-scope .slds-button_brand{
      padding: 1rem 2rem 1rem 2rem !important;
          font-size: 1.5rem !important;
      }
      .slds-scope .slds-button_neutral{
        padding: 1rem 2rem 1rem 2rem !important;
        font-size: 1.5rem !important;
        } */